body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

/*NAVBAR QUIENES SOMOS - CONTACTO - MI PERFIL*/
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 235, 235);
    padding: 1 1;
}

.header-top a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: small;
}

.nav-header, .nav-header-2 {
    display: flex;
}

.nav-header {
    margin-left: 10%;
}

.nav-header-2 {
    margin-right: 14%;
}

.nav-header-2 .profile-icon {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13% 0 10%;
    background-color: white;
}

/*NAVBAR MEDIO LOGO - TITULO - SEARCH - CARRITO*/
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 125px;
    border-radius: 100%;
    padding: 0;
}

.logo h1 {
    color: black;
    font-family: 'Segoe UI', sans-serif;
}

.search {
    display: flex;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    flex-grow: 1;
    max-width: 450px;
}

.search img {
    width: 22px;
    height: 22px;
}

.search input[type="text"] {
    border: none;
    background-color: transparent;
    color: black;
    padding: 10px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

.search input[type="text"]::placeholder {
    color: #ccc;
}

.search button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 13px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart {
    display: flex;
    align-items: center;
}

.cart a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.cart-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.header-nav {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    padding-left: 11.5%;
    margin: 0;

}

/*NAVBAR LISTADO  INICIO - LIBROS - NOTICIAS - REDES*/
.nav-list li {
    float: left;
}

.nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
}

.nav-list li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: black;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(102, 102, 102, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #fc0000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.social {
    display: flex;
    align-items: center;
    margin-left: 1020px;
}

.social a {
    display: flex;
    align-items: center;
    margin-left: 15px;
    text-decoration: none;
    background-color: black;
    border-radius: 100%;
    width: 47px;
    height: 47px;
    justify-content: center;
}

.social img {
    width: 35px;
    height: 35px;
}

.section {
    position: relative;
    width: 100%;
}

/* CARRUSEL */
.carrusel, .fade img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.indicadores {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.punto {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

.punto.active {
    background-color: rgb(0, 0, 0);
}

.fade{
    animation: fade 1.5s ease;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to{
        opacity: 0.9;
    }
}

/* LIBROS */
.novedades h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 35px;
}

.novedades h2::after {
    position: relative;
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: red;
    margin: 8px auto 0;
    margin-left: 0;
}

.book-list {
    display: flex;
    justify-content: space-around;
}

.book {
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book:hover {
    transform: scale(1.05);
}

.book img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.book h3 {
    font-size: 1.1rem;
    margin: 10px 0;
    position: relative;
}

.book h3 .status-dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;
}

.book p {
    margin: 5px 0;
    font-size: 1rem;
}

.buy-button {
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: auto;
    font-size: 1rem;
    transition: background 0.3s;
    margin-top: auto;
    max-width: 120px;
    width: 100%;
    margin: 10px auto 0 auto;
    text-decoration: none;
}

.buy-button:hover {
    background: darkred;
}

.status-dot.green {
    background: green;
}

.status-dot.red {
    background: red;
}

.book .status-dot.red + p + p + .buy-button {
    background: gray;
    cursor: not-allowed;
    pointer-events: none;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.economia {
    position: relative;
    padding: 15px;
    background-image: url(../imagenes/economia/economia_fondo.png);
    background-size: cover;
    background-position: center;
}

.economia h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 35px;
}

.economia h2::after {
    position: relative;
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: red;
    margin: 8px auto 0;
    margin-left: 0;
}

.historia h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 35px;
}

.historia h2::after {
    position: relative;
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: red;
    margin: 8px auto 0;
    margin-left: 0;
}

.filosofia {
    position: relative;
    padding: 15px;
    background-image: url(../imagenes/filosofia/filosofia_fondo.png);
    background-size: cover;
    background-position: center;
}

.filosofia h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 35px;
}

.filosofia h2::after {
    position: relative;
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: red;
    margin: 8px auto 0;
    margin-left: 0;
}

.politica.derecho h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 35px;
}

.politica.derecho h2::after {
    position: relative;
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: red;
    margin: 8px auto 0;
    margin-left: 0;
}

/* PIE DE PAGINA - FOOTER */
.footer {
    background-color: #000;
    color: #fff;
    padding: 15px 0;
}

.footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    width: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.justify-content-center {
    justify-content: center;
}

.social-networks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-networks li {
    margin: 0 10px;
}

.social-networks img {
    width: 35px;
    height: 35px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.contact-info-footer,
.legal-pages,
.customer-service {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info-footer li,
.legal-pages li,
.customer-service li {
    margin-bottom: 15px;
}

.contact-info-footer li a,
.legal-pages li a,
.customer-service li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contact-info-footer li img,
.legal-pages li img,
.customer-service li img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.contact-info-footer li a:hover,
.legal-pages li a:hover,
.customer-service li a:hover {
    text-decoration: none;
}

.info-name {
    text-align: center;
    font-size: 16px;
    margin-left: 315px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .footer-bottom .row {
        display: flex;
        justify-content: space-between;
    }

    .col-md-3 {
        flex: 1;
    }
}

.breadcrumbs {
    margin-bottom: 5px;
}

.breadcrumbs a {
    color: red;
    text-decoration: none;
}

.breadcrumbs span {
    color: black;
}

/* QUIENES SOMOS */
.content-container {
    width: 90%;
    margin: 40px auto;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about {
    flex: 0.8;
    padding: 15px;
    min-width: 300px;
}

.about h2 {
    color: black;
    margin-bottom: 10px;
    position: relative;
}

.about h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: red;
    margin: 10px 0 0 0;
}

.mission-vision-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.mission, .vision {
    padding: 15px;
    min-width: 300px;
}

.mission h2, .vision h2 {
    color: black;
    margin-bottom: 10px;
    position: relative;
}

.mission h2::after, .vision h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: red;
    margin: 10px 0 0 0;
}

.about p, .mission p, .vision p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
}

.image-container {
    flex: 1;
    padding: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*CONTACTOS*/
.contact-container {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

.map-container {
    margin-bottom: 20px;
    border: 2px solid #000;
}

.map-container iframe {
    width: 100%;
    height: 500px;
    border: none;
}

.contact-section {
    display: flex;
    justify-content: space-between;
}

.contact-form,
.contact-info {
    width: 40%;
}

.contact-form h2,
.contact-info h2 {
    color: black;
    margin-bottom: 10px;
    position: relative;
}

.contact-form h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: red;
    margin: 10px 0 0 0;
}

.contact-info h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: red;
    margin: 10px 0 0 0;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.contact-form textarea {
    height: 100px;
}

.privacy-policy {
    display: flex;
    align-items: center;
    margin-right: 550px;
}

.privacy-policy label {
    margin-left: 10px;
    flex-direction: row;
}
.privacy-policy input {
    margin-top: 10px;
}

.privacy-policy a {
    color: red;
    text-decoration: none;
}

.contact-form button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

.contact-info p {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.contact-info img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.contact-info a {
    color: red;
    text-decoration: none;
}

/*MI PERFIL*/
.container-login {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    background-color: #e9e9e9;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.tab.active {
    background-color: #fff;
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
    margin-top: 10px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.forgot-password {
    color: red;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: right;
}

.login-form button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/*DETALLES DE LOS LIBROS*/
.product-container {
    width: 95%;
    margin: 20px auto;
    background-color: #d9d9d930;
    padding: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.N1-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.product-main {
    display: flex;
    margin-bottom: 20px;
}

.product-image {
    flex: 1;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    height: 400px;
    margin-top: 20px;
}

.product-details {
    flex: 2;
    padding-left: 0;
}

.product-details h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.product-details h2 {
    color: red;
    margin-bottom: 20px;
    font-size: 14px;
}

.product-details ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;
}

.product-details ul li {
    margin-bottom: 15px;
}

.product-details ul li a {
    color: red;
    text-decoration: none;
}

.product-price {
    text-align: center;
    margin: 0;
    padding-left: 100px;
    max-width: 200px;
}

.product-price h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-price .availability {
    color: green;
    display: block;
    margin-bottom: 15px;
}

.product-price .add-to-cart {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.product-description {
    margin-bottom: 20px;
}

.product-description h3 {
    color: red;
    margin-bottom: 10px;
}

.related-products {
    margin-bottom: 20px;
}

.related-products h3 {
    color: black;
    margin-bottom: 10px;
    position: relative;
}

.related-products h3::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: red;
    margin: 10px 0 0 0;
}

.related-items {
    display: flex;
    justify-content: space-around;
}

.related-item {
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.related-item:hover {
    transform: scale(1.05);
}

.related-item img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.related-item h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.related-item p {
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.related-item button {
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: auto;
    font-size: 1rem;
    transition: background 0.3s;
    margin-top: auto;
    max-width: 120px;
    width: 100%;
    margin: 10px auto 0 auto;
    text-decoration: none;
}

/*DETALLES DEL CARRITO*/
.cart-container {
    width: 80%;
    margin: 130px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-container h2 {
    color: black;
    margin-bottom: 10px;
    position: relative;
    font-size: 30px;
}

.cart-container h2::after {
    content: '';
    display: block;
    width: 80px;
    height: 5px;
    background: red;
    margin: 10px 0 0 0;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th,
.cart-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.cart-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.product {
    display: flex;
    align-items: center;
}

.product img {
    width: 60px;
    margin-right: 10px;
}

.product-info {
    text-align: left;
}

.product-info h3 {
    font-size: 18px;
    margin-bottom: 2px;
}

.product-info p {
    font-size: 14px;
    margin-bottom: 10px;
}

.product-info .remove {
    color: red;
    text-decoration: none;
    font-size: 12px;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity input {
    width: 30px;
    text-align: center;
    margin: 0 5px;
}

.shipping-info {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

.shipping-info h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.shipping-info p {
    font-size: 14px;
    margin-bottom: 20px;
}

.shipping-options {
    display: flex;
    justify-content: space-between;
}

.shipping-option {
    flex: 1;
    margin-right: 10px;
}

.shipping-option:last-child {
    margin-right: 0;
}

.shipping-option label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.shipping-option select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total p {
    font-size: 18px;
    font-weight: bold;
}

.total span {
    color: red;
}

.checkout-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.main-container {
    width: 80%;
    margin: 40px auto;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-section {
    flex: 1;
    padding: 20px;
    min-width: 400px;
}

.title-section h2 {
    color: black;
    margin-bottom: 20px;
    position: relative;
}

.title-section h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: red;
    margin: 5px 0 0 0;
}

.title-section p {
    color: #333;
    line-height: 1.2;
    margin-bottom: 20px;
}

.news-image {
    flex: 1;
    padding: 20px;
}

.news-image img {
    width: 900px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.month-title h2 {
    color: black;
    margin-bottom: 10px;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
}

.month-title h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background: red;
    margin: 5px 0 0 0;
}

.books {
    display: flex;
    justify-content: flex-end;
    margin-left: 250px;
}

.book-item {
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-item:hover {
    transform: scale(1.05);
}

.book-item img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.book-item h4 {
    font-size: 1.2rem;
    margin: 15px 0;
    position: relative;
}

.book-item p {
    margin: 5px 0;
    font-size: 1rem;
}

.not-available {
    display: inline-block;
    padding: 10px 10px;
    background-color: #e74c3c;
    color: #fff;
    font-weight: bold;
}

@media only screen and (max-width: 1920px) {

    .social {
        display: flex;
        align-items: center;
        margin-left: 1500px;
    }
}

@media only screen and (max-width: 1366px) {

    .social {
        display: flex;
        align-items: center;
        margin-left: 1010px;
    }

    .novedades h2 {
        font-size: 2rem;
        margin-bottom: 0px;
        position: relative;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 35px;
    }
    
    .novedades h2::after {
        position: relative;
        content: '';
        display: block;
        width: 100px;
        height: 5px;
        background: red;
        margin: 8px auto 0;
        margin-left: 0;
    }

    .economia h2 {
        font-size: 2rem;
        margin-bottom: 0px;
        position: relative;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 35px;
    }
    
    .economia h2::after {
        position: relative;
        content: '';
        display: block;
        width: 100px;
        height: 5px;
        background: red;
        margin: 8px auto 0;
        margin-left: 0;
    }

    .historia h2 {
        font-size: 2rem;
        margin-bottom: 0px;
        position: relative;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 35px;
    }
    
    .historia h2::after {
        position: relative;
        content: '';
        display: block;
        width: 100px;
        height: 5px;
        background: red;
        margin: 8px auto 0;
        margin-left: 0;
    }

    .filosofia h2 {
        font-size: 2rem;
        margin-bottom: 0px;
        position: relative;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 35px;
    }
    
    .filosofia h2::after {
        position: relative;
        content: '';
        display: block;
        width: 100px;
        height: 5px;
        background: red;
        margin: 8px auto 0;
        margin-left: 0;
    }

    .politica.derecho h2 {
        font-size: 2rem;
        margin-bottom: 0px;
        position: relative;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 35px;
    }
    
    .politica.derecho h2::after {
        position: relative;
        content: '';
        display: block;
        width: 100px;
        height: 5px;
        background: red;
        margin: 8px auto 0;
        margin-left: 0;
    }

    .privacy-policy {
        display: flex;
        align-items: center;
        margin-right: 360px;
    }

    .books {
        display: flex;
        justify-content: flex-end;
        margin-left: 0px;
    }
}

/* TAMAÑO PARA CELULAR */
@media only screen and (max-width: 430px) {

    .header-top a {
        color: black;
        padding: 5px 5px;
        text-decoration: none;
        text-align: center;
        display: flex;
        align-items: center;
        font-family: sans-serif;
        font-size: 10px;
    }

    .nav-header-2 .profile-icon {
        margin-right: 5px;
        width: 12px;
        height: 12px;
    }
    
    .logo h1 {
        font-size: 0.8rem;
    }

    .logo img {
        max-width: 50px;
    }
    .nav-header {
        margin-left: 0;
    }
    
    .nav-header-2 {
        margin-right: 0;
    }

    .header-middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
        background-color: white;
    }

    .cart {
        display: flex;
        align-items: center;
        margin-right: 5px;
    }
    
    .cart a {
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
        font-size: 10px;
    }

    .cart-icon {
        margin-right: 5px;
        width: 12px;
        height: 12px;
    }
    

    .header-nav {
        background-color: black;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .nav-list li a {
        display: block;
        color: white;
        text-align: center;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 10px;
    }

    .search {
        display: flex;
        align-items: center;
        background-color: rgb(235, 235, 235);
        border-radius: 5px;
        flex-grow: 1;
        max-width: 150px;
    }
    
    .search img {
        width: 10px;
        height: 10px;
    }
    
    .search input[type="text"] {
        border: none;
        background-color: transparent;
        color: black;
        padding: 6px;
        width: 100%;
        outline: none;
        box-sizing: border-box;
        font-size: 10px;
    }
    
    .search input[type="text"]::placeholder {
        color: #ccc;
    }
    
    .search button {
        background-color: #ff0000;
        color: white;
        border: none;
        padding: 9px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social {
        display: flex;
        align-items: center;
        margin-left: 315px;
    }

    .social a {
        display: flex;
        align-items: center;
        margin-left: 15px;
        text-decoration: none;
        background-color: black;
        border-radius: 100%;
        width: 10px;
        height: 20px;
        justify-content: center;
    }
    
    .social img {
        width: 15px;
        height: 15px;
    }

    .carrusel, .fade img {
        width: 100%;
        height: 10vh;
        object-fit: cover;
    }
    
    .indicadores {
        position: absolute;
        bottom: 1px;
        width: 100%;
        text-align: center;
    }

    .punto {
        display: inline-block;
        width: 5px;
        height: 5px;
        margin: 0 0;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        cursor: pointer;
    }

    .novedades h2 {
        font-size: 0.7rem;
        margin-bottom: 0;
        position: relative;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 10px;
    }
    
    .novedades h2::after {
        position: relative;
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: red;
        margin: 3px 0;
        margin-left: 0;
    }
    
    .book-list {
        display: flex;
        justify-content: space-around;
    }
    
    .book {
        padding: 10px;
        margin: 0px;
        width: 300px;
        text-align: center;
        transition: transform 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .book:hover {
        transform: scale(1.05);
    }
    
    .book img {
        max-width: 100%;
        height: 100px;
        object-fit: cover;
        margin-bottom: 0;
    }
    
    .book h3 {
        font-size: 0.5rem;
        margin: 5px 0;
        position: relative;
    }
    
    .book h3 .status-dot {
        width: 5px;
        height: 5px;
        display: inline-block;
        border-radius: 50%;
        margin-left: 0;
    }
    
    .book p {
        margin: 2px 0;
        font-size: 0.4rem;
    }
    
    .buy-button {
        background: red;
        color: white;
        border: none;
        padding: 5px 0px;
        cursor: pointer;
        margin-top: auto;
        font-size: 0.4rem;
        transition: background 0.3s;
        margin-top: auto;
        max-width: 100px;
        width: 50%;
        margin: 5px auto 0 auto;
        text-decoration: none;
    }

    .economia {
        position: relative;
        padding: 3px;
        background-image: url(../imagenes/economia/economia_fondo.png);
        background-size: cover;
        background-position: center;
    }

    .economia h2 {
        font-size: 0.7rem;
        margin-bottom: 0;
        position: relative;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 10px;
    }
    
    .economia h2::after {
        position: relative;
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: red;
        margin: 3px 0;
        margin-left: 0;
    }
    
    .historia h2 {
        font-size: 0.7rem;
        margin-bottom: 0;
        position: relative;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 10px;
    }
    
    .historia h2::after {
        position: relative;
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: red;
        margin: 3px 0;
        margin-left: 0;
    }
    
    .filosofia {
        position: relative;
        padding: 3px;
        background-image: url(../imagenes/filosofia/filosofia_fondo.png);
        background-size: cover;
        background-position: center;
    }

    .filosofia h2 {
        font-size: 0.7rem;
        margin-bottom: 0;
        position: relative;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 10px;
    }
    
    .filosofia h2::after {
        position: relative;
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: red;
        margin: 3px 0;
        margin-left: 0;
    }
    
    .politica.derecho h2 {
        font-size: 0.7rem;
        margin-bottom: 0;
        position: relative;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 10px;
    }
    
    .politica.derecho h2::after {
        position: relative;
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: red;
        margin: 3px 0;
        margin-left: 0;
    }

    .footer {
        background-color: #000;
        color: #fff;
        padding: 5px 0;
    }
    
    .footer-bottom {
        max-width: 370px;
        margin: 0 auto;
    }
    
    .footer-logo {
        width: 50px;
        margin-bottom: 0px;
        border-radius: 50%;
    }
    
    .text-center {
        text-align: center;
    }
    
    .justify-content-center {
        justify-content: center;
    }
    
    .social-networks {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    
    .social-networks li {
        margin: 0 4px;
    }
    
    .social-networks img {
        width: 14px;
        height: 14px;
    }
    
    .footer-heading {
        font-size: 7px;
        margin-bottom: 6px;
        text-transform: uppercase;
    }
    
    .contact-info-footer,
    .legal-pages,
    .customer-service {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .contact-info-footer li,
    .legal-pages li,
    .customer-service li {
        margin-bottom: 5px;
    }
    
    .contact-info-footer li a,
    .legal-pages li a,
    .customer-service li a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 6px;
    }
    
    .contact-info-footer li img,
    .legal-pages li img,
    .customer-service li img {
        width: 7px;
        height: 7px;
        margin-right: 3px;
    }
    
    .contact-info-footer li a:hover,
    .legal-pages li a:hover,
    .customer-service li a:hover {
        text-decoration: none;
    }
    
    .info-name {
        text-align: center;
        font-size: 7px;
        margin-left: 60px;
    }
    
    .footer a {
        color: #fff;
        text-decoration: none;
    }
    
    .footer a:hover {
        text-decoration: underline;
    }
    
    @media (min-width: 375px) {
        .footer-bottom .row {
            display: flex;
            justify-content: space-between;
        }
    
        .col-md-3 {
            flex: 1;
        }
    }

    .breadcrumbs {
        margin-bottom: 5px;
        font-size: 10px;
    }

    .content-container {
        width: 90%;
        margin: 48px auto;
        background-color: #f9f9f9;
        padding: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .main-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .about {
        flex: 1;
        padding: 6px;
        min-width: 150px;
    }
    
    .about h2 {
        color: black;
        margin-bottom: 8px;
        position: relative;
        font-size: 15px;
    }
    
    .about h2::after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: red;
        margin: 5px 0 0 0;
    }
    
    .mission-vision-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    
    .mission, .vision {
        padding: 5px;
        min-width: 150px;
    }
    
    .mission h2, .vision h2 {
        color: black;
        margin-bottom: 0px;
        position: relative;
        font-size: 15px;
    }
    
    .mission h2::after, .vision h2::after {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: red;
        margin: 5px 0 0 0;
    }
    
    .about p, .mission p, .vision p {
        color: #333;
        line-height: 1.2;
        margin-bottom: 0px;
        font-size: 10px;
    }
    
    .image-container {
        flex: 1;
        padding: 50px;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .contact-container {
        width: 90%;
        margin: 0 0;
        padding: 10px;
    }
    
    .map-container {
        margin-bottom: 10px;
        border: 2px solid #000;
    }
    
    .map-container iframe {
        width: 100%;
        height: auto;
        border: none;
    }
    
    .contact-section {
        display: flex;
        justify-content: space-between;
    }
    
    .contact-form,
    .contact-info {
        width: 47%;
    }
    
    .contact-form h2,
    .contact-info h2 {
        color: black;
        margin-bottom: 15px;
        position: relative;
        font-size: 11px;
    }
    
    .contact-form h2::after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: red;
        margin: 5px 0 0 0;
    }
    
    .contact-info h2::after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: red;
        margin: 5px 0 0 0;
    }
    
    .contact-form label {
        display: block;
        margin-bottom: 5px;
        margin-top: 15px;
        font-size: 12px;
    }
    
    .contact-form input,
    .contact-form textarea {
        width: 90%;
        padding: 4px;
        margin-bottom: 7px;
        border: 1px solid #ccc;
    }
    
    .contact-form textarea {
        height: 80px;
    }
    
    .privacy-policy {
        display: flex;
        align-items: center;
        margin-right: 100px;
    }
    
    .privacy-policy label {
        margin-left: 5px;
        flex-direction: row;
    }
    .privacy-policy input {
        margin-top: 10px;
    }
    
    .privacy-policy a {
        color: red;
        text-decoration: none;
    }
    
    .contact-form button {
        background-color: red;
        color: white;
        padding: 5px 10px;
        margin-top: 10px;
        border: none;
        cursor: pointer;
        font-size: 10px;
    }
    
    .contact-info p {
        margin: 7px 0px;
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    
    .contact-info img {
        width: 10px;
        height: 10px;
        margin-right: 3px;
    }
    
    .contact-info a {
        color: red;
        text-decoration: none;
    }

    .container-login {
        width: 70%;
        margin: 187px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .login-container {
        padding: 20px;
        background-color: #f9f9f9;
    }
    
    .tabs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 12px;
    }
    
    .tab {
        padding: 10px 20px;
        background-color: #e9e9e9;
        cursor: pointer;
        flex: 1;
        text-align: center;
    }
    
    .tab.active {
        background-color: #fff;
        font-weight: bold;
    }
    
    .login-form {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    
    .login-form label {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .login-form input {
        padding: 5px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
    }
    
    .forgot-password {
        color: red;
        text-decoration: none;
        margin-bottom: 15px;
        text-align: right;
    }
    
    .login-form button {
        background-color: red;
        color: white;
        padding: 5px 15px;
        border: none;
        cursor: pointer;
        font-size: 13px;
    }

    .product-container {
        width: 90%;
        margin: 20px auto;
        background-color: #d9d9d930;
        padding: 0;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    
    .N1-container {
        width: 80%;
        margin: 0 auto;
        padding: 10px;
    }
    
    .product-main {
        display: flex;
        margin-bottom: 20px;
    }
    
    .product-image {
        flex: 1;
        text-align: center;
    }
    
    .product-image img {
        max-width: 100%;
        height: 150px;
        margin-top: 10px;
    }
    
    .product-details {
        flex: 2;
        padding-left: 10PX;
    }
    
    .product-details h1 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .product-details h2 {
        color: red;
        margin-bottom: 20px;
        font-size: 10px;
    }
    
    .product-details ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 10px;
        font-size: 10px;
    }
    
    .product-details ul li {
        margin-bottom: 10px;
    }
    
    .product-details ul li a {
        color: red;
        text-decoration: none;
    }
    
    .product-price {
        text-align: center;
        margin: 0;
        padding-left: 50px;
        max-width: 100px;
    }
    
    .product-price h3 {
        font-size: 15px;
        margin-bottom: 15px;
    }
    
    .product-price .availability {
        color: green;
        display: block;
        margin-bottom: 15px;
        font-size: 13px;
    }
    
    .product-price .add-to-cart {
        background-color: red;
        color: white;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        font-size: 10px;
        text-decoration: none;
    }
    
    .product-description {
        margin-bottom: 10px;
    }
    
    .product-description h3 {
        color: red;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .product-description p {
        line-height: 1.2;
        font-size: 10px;
    }
    
    .related-products {
        margin-bottom: 10px;
    }
    
    .related-products h3 {
        color: black;
        margin-bottom: 10px;
        position: relative;
        font-size: 15px;
    }
    
    .related-products h3::after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background: red;
        margin: 5px 0 0 0;
    }
    
    .related-items {
        display: flex;
        justify-content: space-around;
    }
    
    .related-item {
        padding: 10px;
        margin: 0px;
        width: 300px;
        text-align: center;
        transition: transform 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .related-item:hover {
        transform: scale(1.05);
    }
    
    .related-item img {
        max-width: 100%;
        height: 100px;
        object-fit: cover;
        margin-bottom: 0;
    }
    
    .related-item h4 {
        font-size: 0.5rem;
        margin: 5px 0;
        position: relative;
    }
    
    .related-item p {
        margin: 2px 0;
        font-size: 0.4rem;
    }
    
    .price {
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .related-item button {
        background: red;
        color: white;
        border: none;
        padding: 5px 0px;
        cursor: pointer;
        margin-top: auto;
        font-size: 0.4rem;
        transition: background 0.3s;
        margin-top: auto;
        max-width: 100px;
        width: 50%;
        margin: 5px auto 0 auto;
        text-decoration: none;
    }

.cart-container {
    width: 80%;
    margin: 65px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-container h2 {
    color: black;
    margin-bottom: 10px;
    position: relative;
    font-size: 20px;
}

.cart-container h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: red;
    margin: 5px 0 0 0;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th,
.cart-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 11px;
}

.cart-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.product {
    display: flex;
    align-items: center;
}

.product img {
    width: 60px;
    margin-right: 10px;
}

.product-info {
    text-align: left;
}

.product-info h3 {
    font-size: 12px;
    margin-bottom: 2px;
}

.product-info p {
    font-size: 10px;
    margin-bottom: 10px;
}

.product-info .remove {
    color: red;
    text-decoration: none;
    font-size: 10px;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity input {
    width: 30px;
    text-align: center;
    margin: 0 5px;
}

.shipping-info {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

.shipping-info h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

.shipping-info p {
    font-size: 12px;
    margin-bottom: 20px;
}

.shipping-options {
    display: flex;
    justify-content: space-between;
}

.shipping-option {
    flex: 1;
    margin-right: 10px;
}

.shipping-option:last-child {
    margin-right: 0;
}

.shipping-option label {
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
}

.shipping-option select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 11px;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total p {
    font-size: 15px;
    font-weight: bold;
}

.total span {
    color: red;
}

.checkout-button {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 10px;
}

.main-container {
    width: 80%;
    margin: 100px auto;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-section {
    flex: 1;
    padding: 0px;
    min-width: 300px;
}

.title-section h2 {
    color: black;
    margin-bottom: 0px;
    position: relative;
    font-size: 11px;
}

.title-section h2::after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background: red;
    margin: 3px 0 0 0;
}

.title-section p {
    color: #333;
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: 9px;
}

.news-image {
    flex: 1;
    padding: 0px;
}

.news-image img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.month-title {
    flex: 1;
    width: 100px;
}

.month-title h2 {
    color: black;
    margin-bottom: 0px;
    position: relative;
    font-size: 11px;
}

.month-title h2::after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background: red;
    margin: 3px 0 0 0;
}

.books {
    display: flex;
    justify-content: space-around;
    margin-left: 5px;
}

.book-item {
    padding: 10px;
    margin: 0px;
    width: 55px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-item:hover {
    transform: scale(1.05);
}

.book-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 0;
}

.book-item h4 {
    font-size: 0.4rem;
    margin: 5px 0;
    position: relative;
}

.book-item p {
    margin: 2px 0;
    font-size: 0.3rem;
}

.not-available {
    display: inline-block;
    padding: 4px 0px;
    background-color: #e74c3c;
    color: #fff;
    font-weight: bold;
    font-size: 6px;
}
}

@media only screen and (max-width: 375px) {

    .social {
        display: flex;
        align-items: center;
        margin-left: 280px;
    }
}

@media only screen and (max-width: 390px) {

    .social {
        display: flex;
        align-items: center;
        margin-left: 280px;
    }
}

@media only screen and (max-width: 360px) {

    .social {
        display: flex;
        align-items: center;
        margin-left: 260px;
    }
}
